/*改变主题色变量 */
// $--color-primary: #0086f1;
$--color-primary: #222d32;
//rgb(255, 87, 87)
$--sidebar-width: 230px;
$--mini-sidebar-width: 64px;
$--top-height: 50px;

$--logo-width: 38px;

$--element-item-active: #1E120C
